@font-face {
    font-family: pokemonHollow;
    src: url(pokemonHollow.ttf);
}

@font-face {
    font-family: pokemonSolid;
    src: url(pokemonSolid.ttf)
}

body {
    background-color: #e6e6e6;
}

#banner {
    width:50%;
    float: left;
    padding-left: 40px;
    font-family: pokemonSolid;
    font-size: 48px;
    color: royalblue;
}

#gameBoard {
    width:96%;
    float: left;
    margin-left: 40px;
    height: 400px;
    text-align: center;
}

#statsWrapper {
    width:50%;
    text-align: center;
    display: inline-block;
}

#pikaPic {
    float: left;
    width:150px;
    height: 150px;
    display: inline;
}

#enemyPic {
    width:150px;
    height: 150px;
    /* float:left;; */
    display: inline;
}

#statsBoard {
    width: 100%;
    background-color: #b19cd9;
    float: right;
    border: 1px solid black;
}

#attackerStats {
    color: green;
}

#picturesDiv {
    float: left;
}

#playerImgDiv, #attackerImgDiv {
    display: inline-block;
}

#buttonsDiv {
    width:66%;
    float: left;
    margin-left: 40px;
    text-align: center;
    clear:both;
}

#landscape {
    background-color: lightgreen;
}

.solidText {
    font-family: pokemonSolid;
}

.hollowText {
    font-family: pokemonHollow;
}

/* sprite stuff */

.spriteDown {
	background: url('../img/pikachuSprites.png') no-repeat -16px -16px; 
	width: 32px;
    height: 36px;
    animation: moveDown 0.8s steps(4) infinite;
}

.spriteLeft {
	background: url('../img/pikachuSprites.png') no-repeat -16px -90px; 
	width: 32px;
    height: 36px;
    animation: moveLeft 0.8s steps(4) infinite;
}

.spriteRight {
	background: url('../img/pikachuSprites.png') no-repeat -16px -154px; 
	width: 32px;
    height: 36px;
    animation: moveRight 0.8s steps(4) infinite;
}

.spriteUp {
	background: url('../img/pikachuSprites.png') no-repeat -16px -220px; 
	width: 32px;
    height: 36px;
    animation: moveUp 0.8s steps(4) infinite;
}

@keyframes moveDown {
    100% { background-position:  -256px -24px; }
 }

 @keyframes moveLeft {
    100% { background-position:  -256px -90px; }
 }

 @keyframes moveRight {
    100% { background-position:  -256px -154px; }
 }

 @keyframes moveUp {
    100% { background-position:  -256px -220px; }
 }

/* 
Pokemon Ball button style
*/

.pokeButton{
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 8.82px;
    font-size: 20px;
    color: #0514E6;
    font-family:  "pokemonSolid", cursive;
    background: linear-gradient(to bottom, #FFFFFF, #FF0000);
    border: solid #7CAFFF 1px;
    border-radius: 5px;
    padding:10px;
    text-shadow: 0px 1px 2px #000000;
    box-shadow: 0px 1px 5px #0D2444;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.pokeButton:hover{
    font-weight: normal;
    font-style: italic;
    opacity: 0.9;
    background: linear-gradient(to bottom, #FF0000, #FFFFFF);
    box-shadow: 0px 1px 2px #000000;
}
